<h1>Sales</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Customer</th>
      <th>Total Amount</th>
      <th>Invoice No.</th>
      <th>Invoice Frequency</th>
      <th>Invoice Amount</th>
      <th>Units Sold</th>
      <tH>Price Per Unit</th>
    </tr>
  </thead>

  <tbody>
    <% @sales.limited.each do |sale| %>
      <tr>
        <td><%= sale.sale_date %></td>
        <td><%= sale.customer.name %></td>
        <td>$<%= sale.sale_amount %></td>
        <td><%= sale.invoice_no %></td>
        <td><%= sale.invoice_frequency %></td>
        <td>$<%= sale.invoice_amount %></td>
        <td><%= sale.units_sold %></td>
        <td>$<%= sale.price_per_unit %></td>
      </tr>
    <% end %>
  </tbody>
</table>
